@model BuscaDeProdutosViewModel;

<form method="post" asp-action="buscadeprodutos">


    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Buscar produtos</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" name="pesquisa" class="form-control input-lg" placeholder="categoria ou produto" id="Pesquisa" value="" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit" asp-for="pesquisa">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<h2><span class="text-center">@TempData["Mensagem"]</span></h2>
@{

    var categorias = Model.Produtos.Select(c => c.CategoriaId).Distinct();
    categorias = categorias.OrderBy(c => c);
    @foreach (var item in categorias)
    {
        var produtosPorCategoria = Model.Produtos.Where(p => p.CategoriaId == item);
        var cat = @produtosPorCategoria.ToArray()[0];
        <h3> @cat.Categoria.NomeDaCategoria</h3>

        <div id="my-carousel-@cat.CategoriaId" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @{
                    const int TAMANHO_PAGINA = 4;

                    int paginas = (int)Math.Ceiling((double)produtosPorCategoria.Count() / TAMANHO_PAGINA);
                }
                @for (int pagina = 0; pagina < paginas; pagina++)
                {

                    <div class="item @(pagina == 0 ? "active" : "")">
                        <div class="row">
                            @{
                                var produtosDaPagina = produtosPorCategoria.Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA);
                            }
                            @foreach (var produto in produtosDaPagina)
                            {

                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).jpg" />
                                        </div>
                                        <div class="panel-footer produto-footer">
                                            <div class="produto-nome">@produto.Nome</div>
                                            <div><h4><strong>R$ @produto.Preco</strong></h4></div>
                                            <div class="text-center">
                                                <a asp-action="carrinho"
                                                   asp-route-codigo="@produto.Codigo"
                                                   class="btn btn-success">Adicionar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#my-carousel-@cat.CategoriaId" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#my-carousel-@cat.CategoriaId" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
}